*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eeeeee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav{
    background: #333333;
}

nav ul{
    list-style-type: none; /* menghilangkan dot */
    padding: 0;
}

nav a{
    text-decoration: none;
    text-align: center;
    display: block;
    color: #ffffff;
    padding: 10px;
}

nav a:hover{
    background-color: #555555;
}

/* flex style */

@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        justify-content: flex-start; /* menentukan posisi diawal 'flex-start' 'center' atau 'flex-end' */
    }

    nav li{
        flex: 1 1 0;
    }
}

